<h1>Resumen del cálculo</h1>

<div> Total de invitados <%= @suma_invitados %></div>
<div> Debes comprar <%= @carne_total %> kg de <%= @carne %> </div>
<div> El costo aproximado de la carne es de $<%= @precio_carne %> </div>
<div> Debes comprar <%= @carne_total.round %> kg de carbón </div>
